@model SharePointPollAppWeb.Models.SurveyModel


@Html.HiddenFor(m => m.SurveyId)
<div>
    @Html.DisplayFor(m => m.Question)
</div>
<br />
<div style="background-color:lightgrey;padding:3px;">
    @foreach (var item in Model.Answers)
    {
        <div style="clear:both; margin:10px;">
            <div style="float:left; margin-right:20px;">
                @Html.RadioButton("SelectedAnswer", item.Answer)
            </div>
            <div>@Html.DisplayFor(m => item.Answer)</div>

        </div>
    }
</div>
<div>
    <input type="button" class="submitVote" value="Vote" style="margin:10px;" />
</div>




